body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    line-height: 1.5;
    font-family: sans-serif;

    background-color: #FAF9F6;
}

.header {
    display: flex;
    justify-content: center;
    padding: 10px;

    color: #FAF9F6;
    background-color: #343231;
}

.header h1{
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    padding: 20px;

}

nav a {
    padding: 0 20px 0 20px;

    text-decoration: none;
    color: #343231;

    border: 1px solid #343231;
    margin: 5px;
}

a:hover{
    color: #0000ff;
}

.main{
    display: flex;
    flex-direction: column;
}

section {
    padding: 20px;
    margin: 10px;
    border: 1px solid #343231;
    border-radius: 10px;
}